// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// $font-family-base: "Noto Sans Display", Arial, sans-serif;
// $font-family-base: "Outfit", Arial, sans-serif;
$font-family-base: "Open Sans", Arial, sans-serif;

$font-weight-lighter: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$primary: #0099ff;
$secondary: #333333;
$info: #9966cc;
$success: #66cc66;
$warning: #ff9933;
$danger: #ff3333;

$headings-font-weight: 700;
$headings-margin-bottom:      .75em;

$hr-opacity: 1;

$link-decoration: none;

$navbar-padding-y: 1rem;
$navbar-padding-x: 1rem;

$navbar-toggler-padding-y: 0.25rem;
$navbar-toggler-padding-x: 0.25rem;
$navbar-toggler-focus-width: 0;
$navbar-light-toggler-border-color: transparent;

$offcanvas-horizontal-width: 350px;

ul.spaced > li,
ol.spaced > li {
  margin-bottom: 0.85em;
}

@import "../../node_modules/bootstrap/scss/bootstrap";

.offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  font-size: 1.5rem;
}

@include media-breakpoint-up(lg) {
  .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }
}
